<header class="header">
  <div class="container">

    <div class="logo">
      <img src="assets/Imagen2.png" alt="Logo Cardiología" />
    </div>

    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#servicios" class="nav-link">Servicios</a>
        </li>
        <li class="nav-item">
          <a href="#consultas" class="nav-link">Consultas</a>
        </li>
        <li class="nav-item">
          <a href="#contacto" class="nav-link">Contacto</a>
        </li>
      </ul>
    </nav>


    <div class="auth-buttons">
      <button class="btn login-btn">Login</button>
      <button class="btn register-btn">Register</button>
    </div>
  </div>
</header>
